[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
zappa = "*"
flask-restful = "*"
marshmallow = "*"
flask-marshmallow = "*"
webargs = "*"
warriorbeat = {editable = true, path = "./warriorbeat"}
"boto3" = "*"
awesome-slugify = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
autoflake = "*"

[requires]
python_version = "3.6"
