[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
zappa = "*"
flask-restful = "*"
marshmallow = "*"
flask-marshmallow = "*"
webargs = "*"
"boto3" = "*"
awesome-slugify = "*"
requests = "*"
warriorbeat = {editable = true, path = "./warriorbeat"}

[dev-packages]
pylint = "*"
"autopep8" = "*"
autoflake = "*"
rope = "*"
flask-shell-ipython = "*"
isort = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
